<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669684729577-7jnf5qjdk1b7q1rs38nu8vshb15l7vl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669684729577-7jnf5qjdk1b7q1rs38nu8vshb15l7vl2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>669684729577-mh8ei8qdo72h0v89q3it65gugb8plrh8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwYIYy9KQvgI-3-Y6-0uFmHsjMr5w7g24</string>
	<key>GCM_SENDER_ID</key>
	<string>669684729577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bold.customer</string>
	<key>PROJECT_ID</key>
	<string>uprides-1782f</string>
	<key>STORAGE_BUCKET</key>
	<string>uprides-1782f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669684729577:ios:90d8c8f40b5d9397881278</string>
</dict>
</plist>